* {
    box-sizing: border-box;
}

.navbar {
    background-color: #F6F1DE;
}

.nav-item {
    width: 105px;
}

body {
    background-color: #3E3F5B;
}

.logo {
    margin-left: 15px;
    height: 80px;
    width: 80px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.search-container {
    margin: auto;
}

.input-group-text:hover {
    background-color: rgb(25, 146, 25);
    cursor: pointer;
}

.full-width-container {
    width: 100%;
    margin: 0;
    padding: 0;
}
