* {
    box-sizing: border-box;
}

body {
    padding-top: 100px;
}

.main-container .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
}

.play-video {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px auto;
}

.play-video video {
    width: 100%;
    border-radius: 10px;
    max-height: 70vh;
    outline: 1px solid black;
}

.right-sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    gap: 15px;
}

.side-video-list {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 200;
    font-size: 15px;
    width: 100%;
}

.side-video-list .smallThumbnail {
    width: 150px;
    height: auto;
    flex-shrink: 0;
}

.side-video-list .smallThumbnail img {
    width: 100%;
    max-height: 80vh;
    border-radius: 10px;
    display: block;
}

.side-video-list .video-infor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 15px;
    padding-top: 20px;
    color: white;
    font-weight: 100;
    font-size: 13px;
    flex: 2;
}

.video-infor a {
    color: white;
    font-weight: 400;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.videoTitle {
    color: white;
    font-weight: 300;
}

.capSection {
    background-color:rgba(68, 68, 68, 0.3);
    color: #f1f1f1; 
    font-weight: 200;
    border-radius: 50%;
    text-shadow: -1px 1px 13px rgba(143,110,202,0.9);
}

.capSection:hover {
    color: #ffffff;
}

.channel-infor {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
    color: white;
}

.channelImg {
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.authorVideo {
    display: flex;
    justify-content: center;
    align-items: center;
}
